.SelectAmount {
  margin-top: 3rem;

}

.Title {
  color: #000;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
}

.Amounts {
  position: relative;
  display: grid;
  border: none;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 1.6rem;
  margin-top: 0.5rem;
}

.Radio {
  display: none;

}

.RadioWrapper {
  margin-right: 0.5rem;
}
.RadioWrapper__MoneyOrther{
  position: absolute;
  margin-right: 0.5rem;
  top: 30px;
  right: 10px;
}
.Radio__MoneyOrther{
   display: block;
    padding: 1rem;
  border: 1.5px solid #83BD75;
  background: #B4E197;
  color: #000;
  border-radius: 3px;
}
.Radio:checked + label {
  background-color: #000;
  color: #4E944F;
  font-size: 1.1rem;
}

.Radio + label {
  cursor: pointer;
  color: #000;
  height: 90%;
  border-radius: 5rem;
  padding: 0.4rem 1rem;
  border: 1px solid #000;
  transition: all ease-in-out 0.1s;
  font-weight: bold;
}

.Radio + label:hover {
  background-color: #cde4ba;
  color: #000;
}
/* .MonneyInput{
  padding: 1rem;
  border: 1.5px solid #83BD75;
  background: #B4E197;
  
  border-radius: 3px;
  float: right;
  
  width: 145px;
}
.MonneyInput::after{
      content: " ";
    display: table;
    clear: both;
} */

@media (min-width: 499px) {
  .Amounts {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.5rem;
  }
}
