$main-bg: #cde4ba;
$main-color: #4E944F;

$txt-main-color: #000;
$txt-second-color: rgb(2, 43, 18);
$txt-white: #FBF2CF;

$btn-main-bg: $main-color;
$btn-main-color: #FBF2CF;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "green": #83BD75,
    "orange": #F57328,
    "pink": #FF7777,
    "white": rgb(255, 255, 255),
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
    "blue": #628E90,
    "densegreen": #4E944F,
    "palegreen": #B4E197

);

$mobile-width: 600px;
$tablet-width: 1024px;
 
$numbers: (1,2,3,4,5,6,7,8);