body {
    font-size: 1.0rem;
    // line-height: 1.5em;
}
.container1{
    display: flex;
}
.maincheckout {
    margin-left: 40px;
    margin-right: 160px;
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.maincheckout .maincheckout-header .breadcrumb  {
    white-space: nowrap;
    display: inline-block;
}
// @media (min-width: 1000px){
//     .main .main-header .breadcrumb {
//     margin-top: 1em;
    
// }
// }
.maincheckout .maincheckout-header .breadcrumb .breadcrumb-item {
    display: inline-block;
    font-size: 1.0em;
    color: #4E944F;
}
.maincheckout .maincheckout-header .breadcrumb .breadcrumb-item:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 11px;
    vertical-align: middle;
    margin: 0 0.5em;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiBvcGFjaXR5PSIuNCIgZmlsbD0iIzAwMCI+PHBhdGggZD0iTS41MjYgMS40MDhsNCA0LjY0NS4wMTQtLjgzLTQgNC4zNTQuOTIuODQ2IDQtNC4zNTYuMzc2LS40MS0uMzYyLS40Mi00LTQuNjQ1LS45NDguODE2eiIvPjwvc3ZnPg==),none;
}



.maincheckout .maincheckout-header .breadcrumb .breadcrumb-item.breadcrumb-item-current {
    font-size: 1.0rem;
    
}

.sidebar {
    position: relative;
    height: 100%;
    color: #717171;
    margin-right: 80px;
    padding-left: 150px;
    font-size: 1.4rem;
    border-left: 1px solid rgba(153, 153, 153, 0.203);
    height: 100%;
}

.section .section-content .no-mb,
.section .section-content:last-child {
    margin-bottom: inherit;
}

.fieldset .field .field-input-wrapper .field-label {
    font-size: 0.85714em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 0.93333em;
    z-index: 1;
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #999999;
    transition: all 0.2s ease-out;
    margin: 0.5em 0;
    margin-top: 0.3em;
    display: block;
}
.fieldset .field .field-input-wrapper .field-input {
    border: 1px solid black;
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.94em 2.8em 0.94em 0.8em;
    word-break: normal;
}
.fieldset .field .field-input-btn-wrapper {
    display: flex;
}
.fieldset .field .field-input-btn-wrapper .field-input-wrapper {
    margin-right: 0;
}

.fieldset .field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
}
.order-checkout__loading--box {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.section .section-content .content-box {
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    background: #fff;
    color: #737373;
    margin-top: 1em;
}

@media (min-width: 750px) {
    .field-two-thirds {
        width: 66.66667% !important;
    }
}
@media (min-width: 750px) {
    .field-third {
        width: 33.33333% !important;
    }
}
@media (min-width: 750px) {
    .section .section-header {
        margin-bottom: 1.5em;
    }
}

@media (min-width: 750px) {
    .step-footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        -ms-flex-align: center;
        margin-top: 1.5em;
    }
}
.section .section-content .content-box .content-box-row:before {
    content: "";
    display: table;
}
.section .section-content .content-box .content-box-row.content-box-row-secondary {
    background-color: #fafafa;
}

.radio-wrapper .radio-label,
.checkbox-wrapper .checkbox-label {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 1.3em;
    width: auto;
}
.radio-wrapper .payment-method-checkbox {
    display: flex;
    align-self: center;
}


.radio-wrapper .radio-input .input-radio :checked, 
.checkbox-wrapper .checkbox-input .input-checkbox:checked {
    border: none;
    box-shadow: 0 0 0 10px #338dbc inset;
}
.radio-wrapper .radio-input .input-radio {
    border-radius: 50%;
}
.radio-wrapper .radio-input .input-radio, 
.checkbox-wrapper .checkbox-input .input-checkbox {
    width: 18px;
    height: 18px;
    // box-shadow: 0px -1px 6px 9px #4e944f inset;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    outline: 0;
    border: solid 1px #d9d9d9;
}
.radio-wrapper .radio-input, .checkbox-wrapper .checkbox-input {
    display: table-cell;
    padding-right: 0.75em;
    white-space: nowrap;
}
.radio-wrapper .radio-input .input-radio:hover, .checkbox-wrapper .checkbox-input .input-checkbox:hover {
    border-color: #cccccc;
}
.blank-slate {
    white-space: pre-line;
    padding: 1.5em;
    line-height: 1.875rem;
    text-align: justify;
    
}
// .radio-wrapper .radio-input .input-radio:after {
//     width: 4px;
//     height: 4px;
//     margin-left: -2px;
//     margin-top: -2px;
//     background-color: #fff;
//     border-radius: 50%;
// }
// .radio-wrapper .radio-input .input-radio:after, .checkbox-wrapper .checkbox-input .input-checkbox:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: scale(0.2);
//     transform: scale(0.2);
//     transition: all 0.2s ease-in-out 0.1s;
//     opacity: 0;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
//     filter: alpha(opacity=0);
// }
// .radio-wrapper .radio-input,
// .checkbox-wrapper .checkbox-input {
//     display: table-cell;
//     padding-right: 0.75em;
//     white-space: nowrap;
// }
.radio-wrapper .radio-content-input {
    display: flex;
    align-items: center;
}
.radio-wrapper .radio-content-input .main-img {
    margin-right: 10px;
    display: flex;
    align-self: center;
    width: 40px;
    height: 40px;
}
.radio-wrapper .radio-label .radio-label-primary,
.checkbox-wrapper .checkbox-label .checkbox-label-primary {
    display: table-cell;
    width: 100%;
}
.radio-wrapper .radio-content-input .quick-tagline {
    color: #338dbc;
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.hidden {
    display: none !important;
}
form {
    display: block;
    margin-top: 0em;
}

.fieldset .field .field-input-btn-wrapper .field-input-btn {
    width: 150px;
    margin-left: 30px;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
}
.fieldset .field .field-input-btn-wrapper .field-input-btn span {
    color: #333333;
    font-size: 1.4rem;
}

.sidebar .btn-disabled {
    cursor: default;

    background: #c8c8c8;
    box-shadow: none;
}
.step-footer-continue-btn {
    background-color: #333333 !important;
    padding: 15px !important;
}
.step-footer-continue-btn span {
    color: white;
}
.step-footer-continue-btn:hover {
    background-color: white !important;
    color: #333333 !important;
}
.step-footer-continue-btn span:hover {
    color: #333333 !important;
}
@media (min-width: 750px) {
    .step-footer .step-footer-previous-link {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-right: 1em;
        float: left;
        display: block;
    }
}
@media (min-width: 750px) {
    .step-footer .step-footer-continue-btn {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        float: right;
    }
}

@media (min-width: 750px) {
    .field-third {
        width: 33.33333% !important;
    }
}

@media (min-width: 1000px) {
    .maincheckout,
    .sidebar {
        padding-top: 2em;
    }
}

@media (min-width: 1000px) {
    .sidebar:after {
        left: 0;
        background-position: left top;
        box-shadow: 1px 0 0 #e1e1e1 inset;
    }
}
.sidebar:after {
    content: '';
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    /* left: -100%; */
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    box-shadow: 0 -1px 0 #e1e1e1 inset;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
h2 {
    font-size: 1.28571em;
}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail {
    width: 4.6em;
    height: 4.6em;
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper img{
 width: 100%;
    height: 100%;
}
.sidebar .sidebar-content .order-summary .order-summary-sections .order-summary-section:first-child {
    border-top: none;
}
.sidebar
    .sidebar-content
    .order-summary
    .product
    .product-image
    .product-thumbnail
    .product-thumbnail-wrapper
    .product-thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    margin: auto;
    object-fit: fill;
}
.sidebar .sidebar-content .order-summary .order-summary-sections .order-summary-section {
    border-top: 1px solid;
    padding-top: 1.5em;
    padding-bottom: 1em;
    border-color: #e1e1e1;
}

.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-quantity {
    font-size: 0.85714em;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.15em 0.65em;
    border-radius: 2em;
    background-color: rgba(153, 153, 153, 0.9);
    color: #fff;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 2;
}
.order-summary-section.order-summary-section-total-lines.payment-lines[data-order-summary-section='payment-lines'] {
    padding-top: 1em !important;
    padding-left: 0.45em;
    padding-right: 0.45em;
}
.total-line-price span {
    font-size: 1.4rem;
    color: #333333;
}
.sidebar .sidebar-content .order-summary .product:first-child td {
    padding-top: 0;
}
.sidebar .sidebar-content .order-summary .product .product-description {
    
    height: fit-content;
    width: 100%;
}
.sidebar .sidebar-content .order-summary .product .product-description .product-description-name {
    
    display: block;
}
.sidebar .sidebar-content .order-summary .order-summary-emphasis {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4b4b4b;
}
.sidebar .sidebar-content .order-summary .product .product-price {
    white-space: nowrap;
}
td:last-child,
th:last-child {
    text-align: right;
}
.fieldset:after {
    clear: both;
}
.fieldset:after,
.fieldset:before {
    content: '';
    display: table;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.4rem;
}
.wrap:after,
.wrap:before {
    content: '';
    display: table;
}
.total-line-table-footer {
    white-space: nowrap;
}

.total-line td {
    padding-top: 0.75em;
}

.total-line-table-footer .total-line td {
    padding-top: 3em;
    position: relative;
}

.payment-due .payment-due-price {
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4b4b4b;
    line-height: 1em;
}

.payment-due-label .payment-due-label-total {
    font-size: 1.14286em;
    color: #4b4b4b;
}
td:first-child,
th:first-child {
    padding-left: 0;
    text-align: left;
    font-weight: 500;
}
.radio-content-input span {
    color: black;
    font-size: 1.4 rem;
}



